@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
}

.appContainer{
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ebfff2;
}

.contentContainer{
  background-color: white;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: "Arial";
}

.logoContainer{
  display: flex;
  align-items: center;
}

.companyName{
  color: #2dc295;
  font-weight: bold;
  margin: 0px;
  margin-left: 15px;
  font-size: 50px;
}

.navitemsContainer{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}

.logo{
  border-style: dashed;
  border-radius: 50px;
  border-width: 1px;
  padding: 10px;
  border-color: #2dc295;
  border-width: 1px;
  cursor: pointer;
}

#part2 button:nth-child(1) #green{
  width: 100%;
  background-color: red;
  position: absolute;
  height: 100%;
}

.addPropertyButton{
  background-color: #2dc295;
  border: 0px;
  border-radius: 5px;
  height: 35px;
  width: 130px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.introHeading{
  font-family: "Arial";
}

.introPage{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.introHeading{
  font-size: 55px;
}

span{
  color: #2dc295;
}

.getStartedButton{
  background-color: #2dc295;
  border: 0px;
  border-radius: 5px;
  height: 70px;
  width: 200px;
  font-size: medium;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.premiumHouseImage{
  width: 50%;
  height: 600px;
}

.introPageItem{
  width: 500px;
}

.filterContainer{
  background-color: #2dc295;
  padding: 30px;
  display: flex;
}

.filterItem{
  border: 0px;
  border-radius: 5px;
  margin-right: 10px;
  height: 55px;
  flex: 1;
  font-size: 20px;
  outline: none;
  padding: 8px;
}

.searchPropertyButton{
  background-color: #161542;
  color: white;
  flex: 0.5;
}

.propertyHeadingContainer{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #161542;
    margin-bottom: 50px;
}

.propertyTypes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.section2{
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.section2Item{
  margin-left: 30px;
}

.bottomContentContainer{
  background-color: white;

  padding: 30px;
}

.highlightSubheading{
  font-size: 16px;
}

.top3Features{
  list-style-type: none;
  padding: 0px;
  font-size: 20px;
}

.top3Feature::before{
  content: "\2714";
  margin-right: 10px;
  font-size: 25px;
  color: #2dc295;
  font-weight: bold;
}

.propertiesContainer{
  display: flex;
  justify-content: space-between;
}

.propertiesContainerItem{
  width: 50%;
}

.propertiesFilterButtonContaier{
  margin-top: auto;
}

.propertiesFilterButton{
  background-color: white;
  border-color: #2dc295;
  border-style: solid;
  border-width: 1px;
  width: 100px;
  padding: 10px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.propertiesFilterButtonActive{
  color: white;
  background-color: #2dc295;
}

.housesContainer{
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
}

.contactAgentTextContainer{
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.contactAgent{
  width: 45%;
  height: 400px;
  margin-right: 25px;
}

.contactIcon{
  font-size: 20px;
}

.mediumsizeButton{
  width: 200px;
  padding: 20px;
  border: 0px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.callnowButton{
  color: white;
  background-color: #2dc295;
  margin-right: 15px;
}

.getAppoitnmentButton{
  color: white;
  background-color: #161542;
}

.agentsContainer{
  display: flex;
  justify-content: space-between;
}

.clientsHeadingSection{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.box{
  height: 150px;
  width: 300px;
  background-color: red;
  margin: 10px;
}

.finalSection{
  display: flex;
  justify-content: space-between;
  background-color: #0a336e;
  padding: 50px;
  color: white;
}

.finalSectionItem{
  width: 33%;
}

.subscribeContainer{
  display: flex;
  justify-content: space-between;
  background: transparent;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  width: 330px;
  padding: 10px;
  border-radius: 5px;
}

.subscribeMailInput{
  width: 190px;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

.signupButton{
  background-color: #2dc295;
  color: white;
  border: 0px;
  padding: 10px;
  width: 90px;
  cursor: pointer;
  border-radius: 5px;
}