.agentItem{
    text-align: center;
    box-shadow: 1px 1px 30px 2px #ededed;
    width: 23%;
    border-radius: 8px;
}

.propertyAgentsImage{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0px;
    margin-right: 10px;
    width: 100%;
}